
'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'shift-L': 'pane:show-next-item'
  'shift-H': 'pane:show-previous-item'
  'space': 'unbind!'
  '': 'unbind!'
  'space a': 'cool:scratch'
  'space b': 'fuzzy-finder:toggle-buffer-finder'
  'space d': 'tree-view:toggle-focus'
  'space e': 'advanced-open-file:toggle'
  'space f': 'fuzzy-finder:toggle-file-finder'
  'space g g': 'atomatigit:toggle'
  'space g s': 'git-plus:stash-save-changes'
  'space g r': 'open-on-github:repository'
  'space k': 'core:close'
  'space l l': 'linter-ui-default:toggle-panel'
  'space l n': 'linter-ui-default:next'
  'space l p': 'linter-ui-default:previous'
  'space n': 'application:new-file'
  'space o': 'cool:org'
  'space p': 'application:reopen-project'
  'space s k': 'pane:split-up-and-copy-active-item'
  'space s j': 'pane:split-down-and-copy-active-item'
  'space s h': 'pane:split-left-and-copy-active-item'
  'space s l': 'pane:split-right-and-copy-active-item'
  'space t': 'platformio-ide-terminal:toggle'
  'space w': 'core:save'
  'space x': 'tabs:close-other-tabs'
  'space y': 'application:open-your-snippets'
  'space space': 'easy-motion-redux:letter'
'atom-text-editor.vim-mode-plus':
  'ctrl-w o': 'cool:close-panes'
  'ctrl-h': 'window:focus-pane-on-left'
  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-k': 'window:focus-pane-above'
  'ctrl-j': 'window:focus-pane-below'
'.platform-darwin atom-text-editor':
  'cmd-x': 'command-palette:toggle'
'.platform-darwin atom-text-editor :not(.github-Panel)':
  'cmd-g': 'github:toggle-git-tab-focus'
  'cmd-h': 'github:toggle-github-tab-focus'
'.platform-darwin .github-Panel':
  'cmd-g': 'github:toggle-git-tab'
  'cmd-h': 'github:toggle-github-tab'
  'j': 'core:move-down'
  'k': 'core:move-up'
'atom-workspace atom-text-editor:not([mini])':
  'cmd-j': 'platformio-ide-terminal:toggle'
'.tree-view':
  'esc': 'tree-view:toggle !important'
  'space d': 'tree-view:toggle'

# Autocomplete
'body atom-text-editor.autocomplete-active':
  'ctrl-p': 'autocomplete-plus:move-up'
  'ctrl-n': 'autocomplete-plus:move-down'

# Javascript
'atom-text-editor.vim-mode-plus:not(.insert-mode)[data-grammar~="js"]':
  ', h': 'atom-ternjs:documentation'
  ', d': 'atom-ternjs:definition'
  ', r': 'atom-ternjs:references'

# Elm
'atom-text-editor.vim-mode-plus:not(.insert-mode)[data-grammar~="elm"]':
  ', d': 'elmjutsu:go-to-definition'
  ', h': 'elmjutsu:toggle-sidekick'
  ', i': 'elmjutsu:add-import'
  ', l s': 'elmjutsu:surround-with-let'
  ', l l': 'elmjutsu:lift-to-let'
  ', l t': 'elmjutsu:lift-to-top-level'
  ', r': 'elmjutsu:rename-symbol'
  ', u u': 'elmjutsu:find-usages'
  ', u n': 'elmjutsu:go-to-next-usage'
  ', u p': 'elmjutsu:go-to-previous-usage'

# Elixir
'atom-text-editor.vim-mode-plus:not(.insert-mode)[data-grammar~="elixir"]':
  ', d': 'atom-elixir:goto-definition'
  ', h': 'atom-elixir:show-elixir-docs'
