'atom-text-editor:not(mini).autocomplete-active':
  'enter': 'autocomplete-plus:confirm'
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'

'atom-text-editor.vim-mode:not(.insert-mode)':
    'H': 'pane:show-previous-item'
    'L': 'pane:show-next-item'
    ', w': 'core:save'
    ', k': 'window:focus-pane-above'
    ', j': 'window:focus-pane-below'
    ', h': 'window:focus-pane-on-left'
    ', l': 'window:focus-pane-on-right'
    'Z Z': 'core:close'

'atom-text-editor:not([mini])':
  'ctrl-shift-C': 'color-picker:open'

'.fuzzy-finder atom-text-editor[mini]':
    'ctrl-p': 'core:move-up'
    'ctrl-n': 'core:move-down'
